<head th:fragment="commonHead">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <meta property="og:title" content="키보드로 공구리질">
  <meta property="og:description" content="키보드로 이것 저것 공구리질한 기록을 남겨놓는 블로그입니다.">
  <!-- <meta property="og:image" content="http://localhost/img/favicon.ico"> -->
  <!-- <meta property="og:url" content="http://0ter.asnet.co.kr"> -->

  <link rel=" shortcut icon" href="/img/favicon.ico">
  <link rel="icon" href="/img/favicon.ico">

  <!-- bootstrap style -->
  <link rel="stylesheet" href="/lib/bootstrap-4.4.1-dist/css/bootstrap.min.css">

  <!-- summernote style-->
  <link rel="stylesheet" href="/lib/summernote-dist/summernote-bs4.css">

  <!-- fontawsome style -->
  <link rel="stylesheet" href="/lib/fontawesome-free-5.12.0-web/css/all.min.css">

  <!-- override css -->
  <link rel="stylesheet" href="/css/blog.page.css">

  <title>키보드로 공구리질</title>
</head>