<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="index" lang="ko">

<th:block layout:fragment="content">
  <div class="container">
    <div class="row">
      <!-- 카테고리 -->
      <div th:replace="layout/tag_list :: tagList"></div>

      <!-- 글 목록 시작 -->
      <div class="col-md-9">
        <!-- 작성된 글이 없는 경우 -->
        <div th:if="${#lists.isEmpty(postList)}" class="text-center">
          <h3 class="text-muted py-5 px-3">
            작성된 글이 없습니다.
          </h3>
        </div>
        <!-- 글이 있는 경우 -->
        <div class="row py-5 px-3" th:each="post : ${postList}">
          <!-- <div class="col-3 bg-dark">thumnail-zone</div> -->
          <div>
            <a th:href="@{'/post/' + ${post.id}}" style="color:black;">
              <strong th:text="${post.title}" class="ml-2">제목 들어가는 곳</strong>
            </a>
            <br>
            <span th:text="${#dates.format(post.createDate, 'yyyy-MM-dd')}" class="ml-2">2019.12.03</span>
          </div>
        </div>
      </div>
      <!-- 글 목록 끝 -->

    </div>
    <!-- 페이지네이션 -->
    <div th:replace="post/pagination :: pagination"></div>

  </div>
</th:block>
</html>