<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="index" lang="ko">

<th:block layout:fragment="content">
  <div class="container">
    <div class="row">
      <!-- 카테고리 -->
      <div th:replace="layout/tag_list :: tagList"></div>

      <div class="col-md-9">
        <!-- 본문 -->
        <h2 th:text="${post.title}" class="text-center"></h2>
        <p th:text="${#dates.format(post.createDate, 'yyyy-MM-dd')}" class="text-right"></p>
        <p th:utext="${post.content}"></p>

        <!-- 업데이트 / 삭제 버튼 -->
        <div class="text-right mt-4 mb-4">
          <a href="/"><button class="btn btn-secondary">목록으로</button></a>
        </div>
        <div sec:authorize="isAuthenticated()" class="mb-4" th:if="${#authentication.getPrincipal().getMember().getId() == post.memberId}">
            <a class="btn btn-light" th:href="@{'/post/update/' + ${post.id}}">수정</a>
            <button class="btn btn-light" data-toggle="modal" data-target="#modalDeletePost">삭제</button>
        </div>

        <!-- 댓글 목록 -->
        <th:block th:if="${not #lists.isEmpty(commentList)}">
          <div th:each="comment: ${commentList}">
            <hr>
            <!-- 삭제된 댓글이 아닌 경우, 댓글 내용 표시 -->
            <th:block th:if="${comment.display}">
              <div class="list-comment pt-1 pb-3 px-3 mb-2">
                <div class="text-right">
                  <div class="d-inline-block">
                    <!-- 댓글 수정 버튼 -->
                    <button class="btn-circle btn-sm bg-light btn-modal-update-comment" th:data-postid="${comment.postId}" th:data-commentid="${comment.id}">
                      <span>
                        <i class="fas fa-pencil-alt"></i>
                      </span>
                    </button>
                    <!-- 댓글 삭제 버튼 -->
                    <button class="btn-circle btn-sm bg-light btn-modal-delete-comment" data-toggle="modal" data-target="#modalDeleteComment" th:data-postid="${comment.postId}" th:data-commentid="${comment.id}">
                      <span>
                        <i class="fas fa-times"></i>
                      </span>
                    </button>
                  </div>
                </div>
                <div>
                  <span class="text-comment-title" th:text="${comment.name}">
                    작성자명
                  </span>
                </div>
                <div th:text="${comment.content}">
  
                  댓글 내용
                </div>
                <div class="text-right">
                  <button class="btn btn-outline-secondary">답글</button>
                </div>
              </div>
            </th:block>
            <!-- 삭제된 댓글인 경우 -->
            <th:block th:if="${not comment.display}">
              <div class="text-center">
                삭제된 댓글입니다.
              </div>
            </th:block>
          </div>
        </th:block>
        <th:block th:if="${#lists.isEmpty(commentList)}">
          <div class="text-center">댓글이 없습니다.</div>
        </th:block>

        <!-- 댓글 입력창 -->
        <div class="card mb-3">
          <div class="card-body">
            <form th:action="@{'/post/' + ${post.id} + '/comment'}" method="POST" name="commentWriteForm">
              <input type="hidden" name="postId" th:value="${post.id}">
              <input type="hidden" name="depth" value="1">
              <input type="hidden" name="childCount" value="0">
              <input type="hidden" name="display" value="true">
              <div class="row mb-2">
                <div class="col-md-6 mb-1">
                  <input type="text" name="name" class="form-control" placeholder="이름">
                </div>
                <div class="col-md-6 mb-1">
                  <input type="text" name="password" class="form-control" placeholder="패스워드">
                </div>
              </div>
              <textarea name="content" class="form-control mb-1" cols="30" rows="4"></textarea>
              <button class="btn btn-dark">등록</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 포스트 삭제 확인 모달 -->
  <div class="modal fade" id="modalDeletePost">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">글 삭제</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          이 글을 정말 삭제하시겠습니까?
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-post-delete" th:attr="data-index=${post.id}" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  <!-- 코멘트 삭제 확인 모달 -->
  <div class="modal fade" id="modalDeleteComment">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal body -->
        <div class="modal-body">
          <input type="text" name="password" id="" class="form-control" placeholder="댓글 삭제를 위해 패스워드를 입력하세요.">
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-comment-delete" th:attr="data-index=${post.id}" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
  
</th:block>

</html>